<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note</title>
</head>
<body>
    {% extends "site_surveys/base.html" %}

    {% block content %}

        <p><a href="{% url 'site_surveys:site' site.id %}">{{ site }}</a></p>
        <div class="card-body">{{ note.text|linebreaks }}</div>

        <p>Edit Note:</p>

        <form action="{% url 'site_surveys:edit_note' note.id %}" method='post'>
            {% csrf_token %}
            {{ form.as_div }}
            <button name="submit">Save Changes</button>
        </form>

    {% endblock content %}
</body>
</html>